<div class="table-responsive mt-5 ms-5">
  <h3 class="m-0 p-2 bg-dark text-center text-white fw-bold">Learners</h3>
  <table class="table table-hover align-middle">
    <thead>
      <tr class="table-active">
        <th scope="col">Full Name</th>
        <th scope="col">Email</th>
        <th scope="col">Proyecto Actual</th>
        <th scope="col">Proyecto</th>
        <th scope="col">Reporte</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-light text-dark" *ngFor="let estudiante of listUsers">
        <td scope="row">{{estudiante.nombre}} {{estudiante.apellido}}</td>
        <td>{{estudiante.correo}}</td>
        <td><p *ngFor="let nameP of estudiante.proyecto">{{nameP[0].nombre}}</p></td>
        <td><app-user [bifurcation]="proyects" [estudiante]="estudiante"></app-user></td>
        <td>
          <div class="btn-group" role="group" aria-label="Third group">
            <button routerLink="/report" type="button" class="btn btn-info" (click)='onClick(estudiante)'>Ver reporte</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
